body {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #10202d;
  padding: 0px 30px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 60px;
}

.nav-name {
  color: #f7f7f7;
  margin: 0;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: #f7f7f7;
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.nav-link:hover{
  color:#c7a667;
}

.nav-link.active {
  background-color: #c7a667;
  color: #10202d;
}

.nav-link.active {
  font-weight: 700;
}

.header-container{
  background-color: #10202d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-text{
  color: #f7f7f7;
  padding: 0 95px;
}

.header-image{
  padding: 0 60px;
}

.header-image img{
  width: 420px;
  filter: drop-shadow(0 20px 30px rgba(202, 202, 202, 0.3));
}

.my-name{
  color: #c7a667;
  font-size: 35px;
  font-weight: 800px;
  margin-top: -15px;
}

.header-sentence{
  line-height: 25px;
  font-weight: 500;
  word-spacing: 5px;
  margin-bottom: 19px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    gap: 15px;
  }

  .nav-center {
    position: static;
    transform: none;
  }
}
