* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f7f7f7
}

.navbar {
  background-color: #10202d;
  padding: 0px 30px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-logo {
  width: 60px;
}

.nav-name {
  color: #f7f7f7;
  margin: 0;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: #f7f7f7;
  font-weight: 500;
  padding: 8px 18px;
  border-radius: 50px;
  transition: all 0.6s ease;
}

.nav-link:hover{
  color:#c4a46a;
}

.nav-link.active {
  background-color: #c7a667;
  color: #10202d;
}

.nav-link.active {
  font-weight: 700;
}

.header-container{
  background-color: #10202d;
}

.header-text{
  color: #f7f7f7;
  padding: 0 95px;
}

.header-image{
  margin-top: -5px;
  padding: 0 60px;
  margin-bottom: 13px;
}

.header-image img{
  height: 280px;
  filter: drop-shadow(0 20px 30px rgba(202, 202, 202, 0.3));
}

.my-name{
  color: #c7a667;
  font-size: 35px;
  font-weight: 800;
  margin-top: 30px;
}

.header-sentence{
  line-height: 25px;
  font-weight: 500;
  word-spacing: 5px;
  margin-top: 23px;
}

.about-skill{
  background-color: #f7f7f7;
  margin-bottom: 20px;
}

.about-me{
  padding: 0 95px;
}

.about-skill-title{
  color: #c7a667;
  font-size: 35px;
  font-weight: 800;
  margin: 15px 0 5px 0;
}

.about-paragraph{
  line-height: 28px;
  font-weight: 500;
  word-spacing: 1px;
  text-align: justify;
}

.programs{
  width: 430px;
  margin-top: 10px;
}

.skill-points{
  margin-top: 18px;
}

.database{
  width: 140px;
  margin-top: 7px;
}

.frame_library{
  width: 280px;
  margin-top: 7px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    gap: 15px;
  }

  .nav-center {
    position: static;
    transform: none;
  }
}
